[run]
source = app,main
omit =
    */tests/*
    */venv/*
    */__pycache__/*
    */site-packages/*
    app/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    pass

[html]
directory = htmlcov
